@font-face{
	font-family: 'CenturyGothic';
	src: url('/styles/fonts/CenturyGothic.ttf');
}

:root {
	--main-bg-color: #222831;
	--second-bg-color: #393e46;
	--main-color: #7CD1F9;
	--main-text-color: #EEE;

	--main-border-color: #34383e;

	--student-cell-width: 96px;
	--student-cell-height: 46px;

	--date-cell-width: 64px;
	--date-cell-height: 46px;
}

* {
    font-family: 'CenturyGothic' !important;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    text-decoration: none;
    text-align: center;

    color: var(--main-text-color);

    outline: none !important;
	-webkit-tap-highlight-color: #0000;
}

*:focus {
	box-shadow: none !important
}

.bg-main {
	background-color: var(--main-bg-color);
}

.bg-second {
	background-color: var(--second-bg-color);
}

.border-main {
	border-color: var(--main-border-color) !important;
}

table {
	border-collapse: collapse;
	display: block;
}

select {
	background: var(--main-bg-color);
}

select.form-select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23eeeeee' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	color: var(--main-text-color);
}

select.form-select option{
	background: var(--second-bg-color);
	color: var(--main-text-color);
}

input[type='date'] {
	border-radius: .25rem;
}

body {
	width: 100vw;
	height: 100vh;
}

#header {
	/*border-bottom-right-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
    height: 56px;
}

	#header #header-title {
		font-size: 24px;
		margin-bottom: .25rem;
	}

	#header .header-button {
		width: 32px;
		height: 32px;
		/*background: red;*/
		background: transparent;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#header .header-button:after {
		content: '';
		width: 16px;
		height: 16px;
		position: absolute;
		background-size: cover !important;
	}

		#header .header-button#reload-button:after {
			background: url('/img/reload.png');
		}

		#header .header-button#calendar-button:after {
			background: url('/img/calendar.png');
		}

		#header .header-button#remove-button,
		#header .header-button#add-button {
			position: relative;
		}

		#header .header-button#remove-button:before,
		#header .header-button#remove-button:after,
		#header .header-button#add-button:before,
		#header .header-button#add-button:after {
			position: absolute;
			content: '';
			width: 16px;
			height: 2px;
			background: var(--main-text-color);
			transition: .3s transform
		}

		#header .header-button#remove-button.opened:before {transform: rotate(-45deg)}
		#header .header-button#remove-button.opened:after {transform: rotate(45deg)}

		#header .header-button#add-button:before {transform: rotate(0deg)}
		#header .header-button#add-button:after {transform: rotate(90deg)}

		#header .header-button#add-button.opened:before {transform: rotate(-45deg)}
		#header .header-button#add-button.opened:after {transform: rotate(45deg)}

.container-fluid {
	width: 100%;
	height: calc(100% - 56px - 2px * 4);
	padding: 0;
}
	
	.main-table {
		width: calc(100% - 16px - 2px);
		height: calc(100% - 16px - 2px);
		border: 2px solid var(--main-bg-color);
		display: flex;
		margin: 8px;
	}

		.names-table {
			width: var(--student-cell-width);
            overflow: hidden;
		}

			.names-table .student-cell {
				width: 100%;
				height: calc(var(--student-cell-height) - 0px);
				padding: 2px 4px;
				border: 2px solid var(--main-bg-color);
				border-left: none;
				font-size: 12px;
				text-align: left
			}

				.names-table .student-row:first-child .student-cell{
					border-top: none;
				}

				.names-table .student-row:last-child .student-cell{
					border-bottom: none;
				}

		.dates-table {
			width: calc(100% - var(--student-cell-width) + 2px);
			height: 100%;
			overflow: scroll;
		}

			.dates-table .date-row .date-cell{
				width: var(--date-cell-width);
				height: var(--date-cell-height);
				border: 2px solid var(--main-bg-color);
				border-left: none;
			}

				.dates-table .date-row:first-child .date-cell {
					border-top: none;
				}

				.dates-table .date-row:last-child .date-cell {
					border-bottom: none;
				}

.swal-modal {
	background-color: var(--main-bg-color);
	/*background-color: #14181D;*/
	color: var(--main-text-color);
	/*border: 3px solid white;*/
}

.swal-title {
	color: var(--main-text-color);
}

.swal-text {
	color: var(--main-text-color);
}

.swal-icon--success:before, 
.swal-icon--success:after,
.swal-icon--success__hide-corners {
	/*background: none;*/
	background: var(--main-bg-color);
}

.swal-icon--success__hide-corners {
	border: 2px solid var(--main-bg-color);
}

.swal-overlay--show-modal, .swal-modal {
    animation: none !important;
}

.swal-overlay {
    background: none;
}

.noty_body {
	color: var(--main-bg-color);
}